# Copy to .env.local and fill in real values
MONGO_URI=mongodb://user:pass@host:27017/db
REDIS_URI=redis://default:pass@host:port
REDIS_PASSWORD=
JWT_SECRET=
SESSION_SECRET=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
PAYMOB_API_KEY=
PAYMOB_HMAC_SECRET=
PAYMOB_CARD_INTEGRATION_ID=
PAYMOB_WALLET_INTEGRATION_ID=
PAYMOB_IFRAME_id=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
EMAIL=
PASSWORD=